@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: 'Arsenal', sans-serif;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1,
p {
  margin: 0 0 1.3rem;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-flex {
  width: 100%;
  display: block;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  bottom: 0%;
  position: absolute
}

.banner-img {
  max-height: 15em;
  overflow: hidden;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

nav {
  display: block;
  width: 100%;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,.5);
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
}

ul {
  display: block;
  text-align: center;
}

h2 {
  display: inline-block;
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
}

li {
  padding: .3rem;
  background-color: rgba(0, 0, 0, .3);
}

nav li:nth-child(2) {
  background-color: rgba(0, 0, 0, .5);
}

a {
  text-decoration: none;
}

nav a {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #dddddd;
}

.content-description {
  padding-left: 1rem;
  padding-right: 1rem;
}

.content-description i {
  font-style: normal;
  font-weight: bold;
}

.noel-profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.noel-profile p {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0 3rem;
  margin: 0 5.5rem 5.5rem;
  margin-bottom: 1rem;
}

.specialities {
  padding-left: 1rem;
  padding-right: 1rem;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  margin-bottom: .5rem;
  margin-top: 0;
}

.desert {
  max-width: 12rem;
  margin: 0;
}

.maple-cinnamon, .mango, .snowcone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.specialities h2 {
  margin: 0;
}

.specialities p {
  font-size: 1rem;
}

.location-information {
  padding: 0 1rem;
  position: relative;
}

.maps {
  margin-bottom: 1.3rem;
}

.location-caption {
  bottom: 14%;
  margin: 0;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, .3);
  padding: .5rem;
  position: absolute;
}

.location-caption h2 {
  color: #fff;
  font-size: 1.3rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  margin: 0;
}

.google-maps {
  padding: .3rem;
  font-size: .8rem;
  border: solid 1px #6b6b6b;
  border-radius: 5px;
}

.google-maps:visited {
  color: #b8b8b8;
}

.google-maps:hover {
  color: #000;
}

.hours {
  padding-left: 1rem;
  padding-right: 1rem;
}

dl {
  margin-bottom: 6.5rem;
}

dd {
  float: right;
}

dt {
  font-size: 1.2em;
  font-weight: bold;
  float: left;
  clear: both;
}

.notice-content {
  border: 2px solid #000;
  padding: .2rem;
}

.notice-content p {
  margin: 0;
  padding: .2rem;
  font-weight: bold;
}

.notice-content h3 {
  padding: 0 .5rem;
  background-color: #b2b2b2;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.hour-content h2 {
  margin-bottom: 0;
}

.copyright {
  text-align: center;
  margin: 1rem;
}

.seperator-img {
  display: block;
  max-width: 2rem;
  margin: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.copyright {
  background-color: #b2b2b2;
  margin: 0;
  padding: .5rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  .specialities h3 {
    padding: 0 4rem;
    margin: 0 1rem;
  }

  h2 {
    font-size: 2rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  nav li {
    width: 33.3333%;
    text-align: center;
    padding: .5rem 1rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .noel-profile {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1.4rem;
  }

  .noel-profile p {
    font-size: 2rem;
    margin: 0;
  }

  h2 {
    font-size: 2.5rem;
  }

  .wrapper {
    display: flex;
    margin-bottom: 1.4rem;
  }

  .maple-cinnamon {
    background-color: #393939;
    padding: .5rem;
    margin: .3rem;
    width: 33.333%;
  }

  .mango {
    background-color: #393939;
    padding: .5rem;
    margin: .3rem;
    width: 33.333%;
  }

  .snowcone {
    background-color: #393939;
    padding: .5rem;
    margin: .3rem;
    width: 33.333%;
  }

  .desert {
    max-width: 10rem;
  }

  .specialities h3 {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    color: #fff;
  }

  .specialities p {
    padding: .5rem;
    margin-bottom: 0;
    color: #fff;
  }

  .location-information {
    display: flex;
    align-items: flex-start;
    position: static;
  }

  .location-caption {
    position: static;
    background-color: #fff;
    padding-top: 0;
  }

  .maps {
    margin: 0;
    padding: 0 1rem;
  }

  .location-info {
    display: flex;
    flex-wrap: wrap;
  }

  .location-caption h2 {
    color: #000;
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0);
    margin: 0;
  }

  dd {
    margin-right: 6em;
    margin-left: 2em;
  }

  .seperator-img {
    display: none;
  }

  .hours {
    display: flex;
    align-items: center;
  }

  .notice-content {
    margin-top: 4rem;
  }

  .hour-content h2 {
    margin-top: .5rem;

  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  .maps {
    margin: 0;
    padding: 0 2rem;
    padding-right: 1.5rem;
  }

  .location-caption h2 {
    font-size: 4rem;
  }

  .hours {
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4rem;
    margin: .5rem;
  }

  .notice-content {
    margin-top: 7rem;
  }

  .hour-content h2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  dt {
    font-size: 1.5rem;
  }

  dd {
    font-size: 1.5rem;
  }

  .notice-content h3 {
    font-size: 2rem;
  }

  .notice-content p {
    font-size: 1.5rem
  }

  .noel-profile {
    margin-bottom: 0;
  }

  .google-maps {
    font-size: 1rem;
  }

  .snowcone h3 {
    margin: .9rem;
  }

}


@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .specialities h3 {
    font-size: 1.7rem;
    padding: 1rem;
    margin: .9rem;
  }

}
